rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow write: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId;
    }
    match /parties/add {
      allow read: if 1 == 1;
      allow write: if 1 == 1;
      allow update: if 1 == 1;
    }
  }
}